.description__title {
    font-family: "Helvetica", sans-serif;
    font-size:max(0.7em, min(2.8em, calc(100vw * 4 / 75)));
    font-weight: 400;
    width: 80%;
}

@media all and (max-width: 1000px) { 
    .description__title {
        text-align: center;
    }
}