.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

@media all and (max-width: 750px) {
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}