.order {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
}

@media all and (max-width: 1000px) {
    .order {
        flex-direction: column;
        align-items: center;
    }
}