.leadhead {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media all and (max-width: 750px) {
    .leadhead {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}