.project-elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 20px;
}

@media all and (max-width: 1000px) { 
    .project-elements {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
    }
}

@media all and (max-width: 500px) { 
    .project-elements {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto, 1fr);
    }
}